extends layout

block content
  //h1= title
  //p Welcome to #{title}
  div
    div#searchDiv
      h2 Search for a recipe
      input(type="text" id="food-name" placeholder="Enter food name")
      button#search(type="submit") Search 
    div#addDiv
      h2 Add a new recipe
      input(type="text" id="name-text" placeholder="Enter food name")
      h4 Ingredients 
      textarea#ingredients-text(name="") 
      br
      button#add-ingredient Add ingredient
      br
      br
      h4 Instructions 
      textarea#instructions-text(name="")
      br
      button#add-instruction Add instruction
      br
      br
      button#submit(type="submit")  Submit
    div#displayDiv
