extends layout

block content
  //h1= title
  //p Welcome to #{title}
  div
    div#searchDiv
      h2 Search for a recipe
      input(type="text" id="food-name" placeholder="Enter food name")
      button#search(type="submit") Search
    div#displayDiv
